################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/angular-routing-detailed/.vscode
/angular-routing-detailed/package-lock.json
